body{
  background: #eee;
}
#frm{
  border: solid gray 1px;
  width: 20%;
  border-radius: 5px;
  margin: 100px auto;
  background: white;
  padding: 50px;
}
#btn{
  color: #fff;
  background: #337ab7;
  padding: 5px;
  margin-left: 50%;
}